.u-inlineList {
	li {
		@extend .u-inlineBlock;
		@extend .u-marginRm;
	}
}

.u-paddingButton {
	padding: 0.4em 0.75em;
}
.u-paddingButtonS {
	padding: 3px 6px;
}
.u-paddingButtonM {
	padding: 5px 10px;
}
.u-paddingButtonL {
	padding: 12px 24px;
}