.u-inlineList {
	@extend .u-marginVm;
	li {
		@extend .u-inlineBlock;
		@extend .u-marginRm;
	}
}

.u-paddingB {
	padding: 0.4em 0.75em;
}
.u-paddingBs {
	padding: 3px 6px;
}
.u-paddingBm {
	padding: 6px 12px;
}
.u-paddingBl {
	padding: 12px 24px;
}