.cities ul {
	@extend .inline-list;
	li {
		display: inline-block;
		margin: 0 5px;
	}
	a {
		display: block;
		padding: 3px 6px;
		color: black;
		background: none;
		text-decoration: none;
		border-radius: 3px;
		&.active {
			border: 1px solid #777;
		}
	}
}

.map {
	float: left;
	width: 600px;
	height: 600px;
	position: relative;
	.hoverinfo {
		box-shadow: none;
		border: 2px solid #bbb;
		padding: 10px;
		font-size: #{$base-font-size}px;
		font-family: $regular-font-stack;
	}
}

.lines {
	float: left;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 0;
  shape-rendering: crispEdges;
}

.axis--x {
	font-size: 10px;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.graph-tip {
	pointer-events: none;
}

.graph-tip__inner {
	padding: 3px 6px;
	border-radius: 3px;
	color: white;
	border: 1px solid rgba(125, 125, 125, 0.3);
}

.bubbles-slider {
	position: relative;
	margin-bottom: 30px;
	margin: 0 auto;
	width: 300px;
}
.bubbles-slider__min,
.bubbles-slider__max {
  position: absolute;
  top: 100%;
}
.bubbles-slider__min {
  left: 0;
}
.bubbles-slider__max {
	right: 0;
}