html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	color: #000;
	font-family: helvetica, arial, sans-serif;
	font-size: 1.6em;
	line-height: normal;
}

.Data .Tabs-content {
	min-width: 700px;
}