.cities ul {
	@extend .inline-list;
	li.active {
		background: deeppink;
	}
}

.map {
	float: left;
	width: 600px;
	height: 600px;
	position: relative;
	.hoverinfo {
		box-shadow: none;
		border: 2px solid #bbb;
		padding: 10px;
		font-size: #{$base-font-size}px;
		font-family: $regular-font-stack;
	}
}

.lines {
	float: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x {
	font-size: 10px;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}