

.LinesChart-axis--x {
	font-size: 10px;
}

	.LinesChart-axis path,
	.LinesChart-axis line {
		fill: none;
		stroke: #ccc;
		shape-rendering: crispEdges;
	}

	.LinesChart-axis text {
		fill: #999;
	}

.LinesChart-line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}