.TextChart {
	@extend .u-inlineList;
}

.TextChart-item {
	@extend .u-paddingButtonM;
	line-height: 24px*1.428571429;
	display: inline-block;
	vertical-align: middle;
	transition: font 0.750s linear;
}