.CitiesList {
	display: inline-block;
}

	.CitiesList-item {

		display: list-item;
		margin-bottom: 5px;
		&:first-child {
			margin-bottom: 10px;
		}
		&:last-child {
			margin-bottom: 0;
		}

		.CitiesList-item-inner {
			display: block;
			text-align: left;
		}

		.CitiesList--Vleft & {
			.CitiesList-item-inner {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

			.CitiesList-input,
			.CitiesList-label {
				display: inline-block;
				vertical-align: middle;
			}

			.CitiesList-input + .CitiesList-label,
			.CitiesList-label + .CitiesList-input {
				margin-left: 5px;
			}

			.CitiesList-toggle + .CitiesList-label {
				font-size: 14px;
			}

	}